#page-title {
  background-image: url(/sites/default/files/portada-getaria.jpg);
  width: 1192px;
  height: 250px;
  margin: auto auto 50px;
  position: relative;
  padding: 50px 0;
  background-color: #494949;
  border-bottom: 0px solid #EEE;
  margin-bottom: 30px;
}

#primary-menu ul ul {
  width: 300px;
}

#primary-menu li.leaf,
#primary-menu li.expanded {
  list-style: none;
  list-style-image: none;
}

.item-list .pager .pager-item,
.item-list .pager .pager-current,
.item-list .pager .pager-ellipsis {
  display: none;
}

/* Custom hacks */
body.stretched #header.full-header .container {
  /*width: 1270px;
  padding: 0 30px;*/
}

#header.full-header #logo {
  border-right: 0px solid #EEE;
}

#header.full-header #primary-menu > ul {
  border-right: 0px solid #EEE;
}
.top-links ul li:first-child, .top-links ul ul li {
	border-left: 0 !important;
}

.view-clon-de-taxonomy-term > .view-content {
  display: none;
}

.btn-blue {
	color: #ffffff;
	background-color: #336699;
	border-color: #003366;
}

.widget #contact-site-form label {
  display: none;
}

#primary-menu-trigger, #page-submenu-trigger {
  font-size: 28px;
}

body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover > a,
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a,
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover > a,
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a {
	color: #AD9B17 !important;
}

.entry-image img {
  width: 80%;
}

.owl-carousel .owl-item img {
  display: block;
  max-width: 100%;
  height: auto;
}
